.header{
    height: 80px;
 padding-left: 30px;
 
   align-items: center;
   display: flex;
justify-content: space-between;
 
}
.nav-img img{
    margin-left: 1000px;
   width: 50px;
    margin-top: 20px;
   
}

