.blog-container{
    display: flex;
   margin-left: 30px;


}
.blog-data{
    width:100%;
 margin-top: 100px;
}
.blog-count{
    width: 50%;
    margin-left: 40px;
    margin-top: 70px;
    
}
.author-information{
    display: flex;
    margin-top: 20px;
    
}
.author-img img{
    width: 50px;
   
}

.author-name{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.published-Date{
    margin-left: 10px;
    margin-top: 0;
}
.read-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}
.read-time{
   width: 50%;
display: flex;
    justify-content: flex-end;
    align-items: center;
 
}
.read-time> small{
max-width: 60px;
    
}
.hashtag{
    margin-bottom: 10px;
}
.border{
    margin-top: 20px;
    border: 1px solid rgb(145, 155, 163);
}